@import "../Vars.styl"

body
  font-family font-family
  margin 0
  padding 0
  height 100%
  overflow-x hidden
  font-size font-sizeXS

h2
  font-size h2-size
  text-align center
  padding-top 40px
  padding-bottom 20px
  margin 0

button:focus
  outline:0

@media screen and (max-width 425px)
  h2
    font-size h1-sizeXS

@media screen and (max-width 425px)
  body
    font-size font-sizeS
